{% extends 'base.html' %} {% block body %}
<br />
<h2>Business Process Automation - HW11</h2>
<hr />
<br />

<form action="/add" method="POST">
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname" /><br /><br />
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname" /><br /><br />
  <label for="email">Email:</label>
  <input type="text" id="email" name="email" /><br /><br />
  <input type="submit" value="Submit" />
</form>
<br /><br />
{% if contacts %}
<h3>Contact List</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>

  <tbody>
    {% for contact in contacts %}
    <tr>
      <td>{{ contact.name }}</td>
      <td>{{ contact.email }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %} {% endblock %}
